:root{
    --mediumKeyBackground :#cfccccee;
    --smallKeyBackground : #FFFFFF;
    --spacebarBackground : #FFFFFF;
    --keyBorder : #909590;
}

.textZoneLight{
    border: 2px solid black;
}

.keyboardStyleLight{
    border: 3px solid #909590;
}

.mediumKeyStyleLight{
    background-color: var(--mediumKeyBackground);
    border-radius: 5px;
    border: 2px solid var(--keyBorder);
}

.mediumKeyStyleLight:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
}

.smallKeyStyleLight{
    background-color: var(--smallKeyBackground);
    border-radius: 5px;
    border: 2px solid var(--keyBorder);
}

.smallKeyStyleLight:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
}

.spacebarStyleLight{
    background-color: var(--spacebarBackground);
    border-radius: 5px;
    border: 2px solid var(--keyBorder);
}

.spacebarStyleLight:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.74);
}