:root{
    --mediumKeyBackgroundNight :#09ff00ee;
    --smallKeyBackgroundNight : #333635;
    --spacebarBackgroundNight : #333635;
    --keyBorderNight : #09ff00ee;
    --keyboardBackgroundNight: #333635;
    --nightFontColor : #09ff00ee;
}

.headerNight{
    background-color: var(--keyboardBackgroundNight);
    color: var(--nightFontColor);
}

.mainNight{
    background-color: #191b18;
}

.textZoneNight{
    background-color: var(--keyboardBackgroundNight);
    color: var(--nightFontColor);
    border: 2px solid var(--keyBorderNight);
}

.keyboardStyleNight{
    background-color: var(--keyboardBackgroundNight);
    border: 3px solid var(--keyBorderNight);
}

.mediumKeyStyleNight{
    background-color: var(--mediumKeyBackgroundNight);
    border-radius: 5px;
    border: 2px solid var(--keyBorderNight);
}

.mediumKeyStyleNight:hover{
    box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
    -moz-box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);    
}

.smallKeyStyleNight{
    background-color: var(--smallKeyBackgroundNight);
    border-radius: 5px;
    border: 2px solid var(--keyBorderNight);
    color: var(--nightFontColor);
}

.smallKeyStyleNight:hover{
    box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
    -moz-box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
}

.spacebarStyleNight{
    background-color: var(--spacebarBackgroundNight);
    border-radius: 5px;
    border: 2px solid var(--keyBorderNight);
}

.spacebarStyleNight:hover{
    box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
    -moz-box-shadow: 0px 0px 5px 1px rgba(9,255,0,0.74);
}

.switchBtnTitle{
    color: var(--nightFontColor);
}